.user
  .container
    include ../../templates/user/header.pug
    .user__content
      include ../../templates/user/sidebar.pug
      .user__main
        form#user__recharge.user__recharge(
          hx-post="/php/recharge.php"
          hx-trigger="submit"
          hx-target="this"
          hx-swap="outerHTML"
          hx-validate="true"
        )
          .user__order-top
            .user__order-left
              .user__breadcrumbs-block
                include ../../templates/user/menu-block.pug
                .user__breadcrumbs
                  a(href="#!") Invoices
                  span.separator /
                  span.current Recharge account
              .user__title Recharge account
            .user__order-right
          .user__recharge-block
            .user__recharge-item
              .user__recharge-title Choose from the proposed tariffs
              .user__recharge-radios
                label.user__recharge-radio
                  input(type="radio" name="pod" value="premium-1" required hx-get="/php/recharge-payment.php" hx-target="#user__payment" hx-swap="outerHTML")
                  .user__recharge-radio-item
                    .user__recharge-radio-title Premium
                    .user__recharge-radio-desc (10% DISCOUNT)
                    .user__recharge-price
                      .user__recharge-price-svg(hx-get="/php/recharge-price.php" hx-target="closest .user__recharge-price" hx-swap="outerHTML")
                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15.397 5.90625H15.4308C15.6546 5.90625 15.8692 5.99514 16.0274 6.15338C16.1856 6.31161 16.2745 6.52622 16.2745 6.75C16.2745 6.97378 16.1856 7.18839 16.0274 7.34662C15.8692 7.50486 15.6546 7.59375 15.4308 7.59375C13.9773 7.59375 12.8714 7.59375 11.9905 7.66463C11.1074 7.7355 10.5472 7.8705 10.15 8.082C9.32748 8.52781 8.66708 9.22247 8.26341 10.0665C8.04966 10.5097 7.92141 11.0565 7.85503 11.9093C7.78753 12.7688 7.78753 13.8645 7.78753 15.39V15.5138L9.04753 14.2537C9.20748 14.1047 9.41903 14.0236 9.63762 14.0274C9.85621 14.0313 10.0648 14.1198 10.2194 14.2744C10.3739 14.429 10.4625 14.6376 10.4664 14.8562C10.4702 15.0748 10.3891 15.2863 10.24 15.4462L7.54003 18.1462C7.45919 18.227 7.36278 18.2906 7.25666 18.333C7.15053 18.3754 7.03689 18.3958 6.92265 18.3929C6.8084 18.3901 6.69592 18.364 6.59203 18.3164C6.48814 18.2688 6.39501 18.2006 6.31828 18.1159L3.87591 15.4159C3.73239 15.249 3.65976 15.0326 3.67353 14.813C3.68729 14.5933 3.78635 14.3877 3.94957 14.24C4.1128 14.0924 4.32726 14.0143 4.54721 14.0226C4.76716 14.0308 4.97519 14.1247 5.12691 14.2841L6.10003 15.3596V15.354C6.10003 13.8724 6.10003 12.7102 6.17316 11.7776C6.24741 10.8281 6.40041 10.0429 6.74578 9.32963C7.30507 8.16557 8.21826 7.20828 9.35466 6.59475C10.0578 6.21787 10.8959 6.05925 11.8567 5.98275C12.8129 5.90625 13.984 5.90625 15.397 5.90625Z" fill="#F56E0F" />
                          <path opacity="0.5" d="M20.0776 8.60667C20.192 8.60949 20.3047 8.63559 20.4088 8.68336C20.5128 8.73113 20.6061 8.79958 20.6828 8.88454L23.1252 11.5845C23.2687 11.7514 23.3413 11.9678 23.3276 12.1875C23.3138 12.4071 23.2147 12.6127 23.0515 12.7604C22.8883 12.9081 22.6738 12.9861 22.4539 12.9779C22.2339 12.9696 22.0259 12.8758 21.8742 12.7163L20.8999 11.6408V11.6464C20.8999 13.128 20.8999 14.2902 20.8279 15.2228C20.7537 16.1723 20.6007 16.9575 20.2553 17.6708C19.696 18.8348 18.7828 19.7921 17.6464 20.4057C16.9433 20.7825 16.1052 20.9412 15.1444 21.0177C14.1882 21.0942 13.0171 21.0942 11.6041 21.0942H11.5703C11.3465 21.0942 11.1319 21.0053 10.9737 20.847C10.8155 20.6888 10.7266 20.4742 10.7266 20.2504C10.7266 20.0266 10.8155 19.812 10.9737 19.6538C11.1319 19.4956 11.3465 19.4067 11.5703 19.4067C13.0238 19.4067 14.1297 19.4067 15.0106 19.3358C15.8926 19.2649 16.4539 19.1299 16.8511 18.9173C17.6734 18.4718 18.3338 17.7775 18.7377 16.9339C18.9514 16.4907 19.0797 15.9439 19.1461 15.0923C19.2124 14.2317 19.2136 13.1348 19.2136 11.6104V11.4867L17.9536 12.7467C17.7936 12.8957 17.5821 12.9768 17.3635 12.973C17.1449 12.9691 16.9363 12.8806 16.7817 12.726C16.6271 12.5714 16.5386 12.3628 16.5347 12.1443C16.5309 11.9257 16.612 11.7141 16.7611 11.5542L19.4611 8.85417C19.5417 8.77334 19.638 8.70973 19.7439 8.66719C19.8499 8.62465 19.9634 8.60406 20.0776 8.60667Z" fill="#F56E0F" />
                        </svg>
                      .user__recharge-price-text 1000 $ = 1100 YT
                label.user__recharge-radio
                  input(type="radio" name="pod" value="premium-2" required hx-get="/php/recharge-payment.php" hx-target="#user__payment" hx-swap="outerHTML")
                  .user__recharge-radio-item
                    .user__recharge-radio-title Premium
                    .user__recharge-radio-desc (20% DISCOUNT)
                    .user__recharge-price
                      .user__recharge-price-svg(hx-get="/php/recharge-price.php" hx-target="closest .user__recharge-price" hx-swap="outerHTML")
                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15.397 5.90625H15.4308C15.6546 5.90625 15.8692 5.99514 16.0274 6.15338C16.1856 6.31161 16.2745 6.52622 16.2745 6.75C16.2745 6.97378 16.1856 7.18839 16.0274 7.34662C15.8692 7.50486 15.6546 7.59375 15.4308 7.59375C13.9773 7.59375 12.8714 7.59375 11.9905 7.66463C11.1074 7.7355 10.5472 7.8705 10.15 8.082C9.32748 8.52781 8.66708 9.22247 8.26341 10.0665C8.04966 10.5097 7.92141 11.0565 7.85503 11.9093C7.78753 12.7688 7.78753 13.8645 7.78753 15.39V15.5138L9.04753 14.2537C9.20748 14.1047 9.41903 14.0236 9.63762 14.0274C9.85621 14.0313 10.0648 14.1198 10.2194 14.2744C10.3739 14.429 10.4625 14.6376 10.4664 14.8562C10.4702 15.0748 10.3891 15.2863 10.24 15.4462L7.54003 18.1462C7.45919 18.227 7.36278 18.2906 7.25666 18.333C7.15053 18.3754 7.03689 18.3958 6.92265 18.3929C6.8084 18.3901 6.69592 18.364 6.59203 18.3164C6.48814 18.2688 6.39501 18.2006 6.31828 18.1159L3.87591 15.4159C3.73239 15.249 3.65976 15.0326 3.67353 14.813C3.68729 14.5933 3.78635 14.3877 3.94957 14.24C4.1128 14.0924 4.32726 14.0143 4.54721 14.0226C4.76716 14.0308 4.97519 14.1247 5.12691 14.2841L6.10003 15.3596V15.354C6.10003 13.8724 6.10003 12.7102 6.17316 11.7776C6.24741 10.8281 6.40041 10.0429 6.74578 9.32963C7.30507 8.16557 8.21826 7.20828 9.35466 6.59475C10.0578 6.21787 10.8959 6.05925 11.8567 5.98275C12.8129 5.90625 13.984 5.90625 15.397 5.90625Z" fill="#F56E0F" />
                          <path opacity="0.5" d="M20.0776 8.60667C20.192 8.60949 20.3047 8.63559 20.4088 8.68336C20.5128 8.73113 20.6061 8.79958 20.6828 8.88454L23.1252 11.5845C23.2687 11.7514 23.3413 11.9678 23.3276 12.1875C23.3138 12.4071 23.2147 12.6127 23.0515 12.7604C22.8883 12.9081 22.6738 12.9861 22.4539 12.9779C22.2339 12.9696 22.0259 12.8758 21.8742 12.7163L20.8999 11.6408V11.6464C20.8999 13.128 20.8999 14.2902 20.8279 15.2228C20.7537 16.1723 20.6007 16.9575 20.2553 17.6708C19.696 18.8348 18.7828 19.7921 17.6464 20.4057C16.9433 20.7825 16.1052 20.9412 15.1444 21.0177C14.1882 21.0942 13.0171 21.0942 11.6041 21.0942H11.5703C11.3465 21.0942 11.1319 21.0053 10.9737 20.847C10.8155 20.6888 10.7266 20.4742 10.7266 20.2504C10.7266 20.0266 10.8155 19.812 10.9737 19.6538C11.1319 19.4956 11.3465 19.4067 11.5703 19.4067C13.0238 19.4067 14.1297 19.4067 15.0106 19.3358C15.8926 19.2649 16.4539 19.1299 16.8511 18.9173C17.6734 18.4718 18.3338 17.7775 18.7377 16.9339C18.9514 16.4907 19.0797 15.9439 19.1461 15.0923C19.2124 14.2317 19.2136 13.1348 19.2136 11.6104V11.4867L17.9536 12.7467C17.7936 12.8957 17.5821 12.9768 17.3635 12.973C17.1449 12.9691 16.9363 12.8806 16.7817 12.726C16.6271 12.5714 16.5386 12.3628 16.5347 12.1443C16.5309 11.9257 16.612 11.7141 16.7611 11.5542L19.4611 8.85417C19.5417 8.77334 19.638 8.70973 19.7439 8.66719C19.8499 8.62465 19.9634 8.60406 20.0776 8.60667Z" fill="#F56E0F" />
                        </svg>
                      .user__recharge-price-text 1000 $ = 1100 YT
                label.user__recharge-radio
                  input(type="radio" name="pod" value="premium-3" required hx-get="/php/recharge-payment.php" hx-target="#user__payment" hx-swap="outerHTML" )
                  .user__recharge-radio-item
                    .user__recharge-radio-title Premium
                    .user__recharge-radio-desc (30% DISCOUNT)
                    .user__recharge-price
                      .user__recharge-price-svg(hx-get="/php/recharge-price.php" hx-target="closest .user__recharge-price" hx-swap="outerHTML")
                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15.397 5.90625H15.4308C15.6546 5.90625 15.8692 5.99514 16.0274 6.15338C16.1856 6.31161 16.2745 6.52622 16.2745 6.75C16.2745 6.97378 16.1856 7.18839 16.0274 7.34662C15.8692 7.50486 15.6546 7.59375 15.4308 7.59375C13.9773 7.59375 12.8714 7.59375 11.9905 7.66463C11.1074 7.7355 10.5472 7.8705 10.15 8.082C9.32748 8.52781 8.66708 9.22247 8.26341 10.0665C8.04966 10.5097 7.92141 11.0565 7.85503 11.9093C7.78753 12.7688 7.78753 13.8645 7.78753 15.39V15.5138L9.04753 14.2537C9.20748 14.1047 9.41903 14.0236 9.63762 14.0274C9.85621 14.0313 10.0648 14.1198 10.2194 14.2744C10.3739 14.429 10.4625 14.6376 10.4664 14.8562C10.4702 15.0748 10.3891 15.2863 10.24 15.4462L7.54003 18.1462C7.45919 18.227 7.36278 18.2906 7.25666 18.333C7.15053 18.3754 7.03689 18.3958 6.92265 18.3929C6.8084 18.3901 6.69592 18.364 6.59203 18.3164C6.48814 18.2688 6.39501 18.2006 6.31828 18.1159L3.87591 15.4159C3.73239 15.249 3.65976 15.0326 3.67353 14.813C3.68729 14.5933 3.78635 14.3877 3.94957 14.24C4.1128 14.0924 4.32726 14.0143 4.54721 14.0226C4.76716 14.0308 4.97519 14.1247 5.12691 14.2841L6.10003 15.3596V15.354C6.10003 13.8724 6.10003 12.7102 6.17316 11.7776C6.24741 10.8281 6.40041 10.0429 6.74578 9.32963C7.30507 8.16557 8.21826 7.20828 9.35466 6.59475C10.0578 6.21787 10.8959 6.05925 11.8567 5.98275C12.8129 5.90625 13.984 5.90625 15.397 5.90625Z" fill="#F56E0F" />
                          <path opacity="0.5" d="M20.0776 8.60667C20.192 8.60949 20.3047 8.63559 20.4088 8.68336C20.5128 8.73113 20.6061 8.79958 20.6828 8.88454L23.1252 11.5845C23.2687 11.7514 23.3413 11.9678 23.3276 12.1875C23.3138 12.4071 23.2147 12.6127 23.0515 12.7604C22.8883 12.9081 22.6738 12.9861 22.4539 12.9779C22.2339 12.9696 22.0259 12.8758 21.8742 12.7163L20.8999 11.6408V11.6464C20.8999 13.128 20.8999 14.2902 20.8279 15.2228C20.7537 16.1723 20.6007 16.9575 20.2553 17.6708C19.696 18.8348 18.7828 19.7921 17.6464 20.4057C16.9433 20.7825 16.1052 20.9412 15.1444 21.0177C14.1882 21.0942 13.0171 21.0942 11.6041 21.0942H11.5703C11.3465 21.0942 11.1319 21.0053 10.9737 20.847C10.8155 20.6888 10.7266 20.4742 10.7266 20.2504C10.7266 20.0266 10.8155 19.812 10.9737 19.6538C11.1319 19.4956 11.3465 19.4067 11.5703 19.4067C13.0238 19.4067 14.1297 19.4067 15.0106 19.3358C15.8926 19.2649 16.4539 19.1299 16.8511 18.9173C17.6734 18.4718 18.3338 17.7775 18.7377 16.9339C18.9514 16.4907 19.0797 15.9439 19.1461 15.0923C19.2124 14.2317 19.2136 13.1348 19.2136 11.6104V11.4867L17.9536 12.7467C17.7936 12.8957 17.5821 12.9768 17.3635 12.973C17.1449 12.9691 16.9363 12.8806 16.7817 12.726C16.6271 12.5714 16.5386 12.3628 16.5347 12.1443C16.5309 11.9257 16.612 11.7141 16.7611 11.5542L19.4611 8.85417C19.5417 8.77334 19.638 8.70973 19.7439 8.66719C19.8499 8.62465 19.9634 8.60406 20.0776 8.60667Z" fill="#F56E0F" />
                        </svg>
                      .user__recharge-price-text 1000 $ = 1100 YT
            .user__recharge-item
              .user__recharge-title Choose the amount yourself
              .user__recharge-amount
                .user__recharge-amount-title In the field below enter the amount to be replenished
                .user__input-el.user__recharge-amount-input
                  input(type="text" name="amount")
                .user__recharge-price
                  .user__recharge-price-svg(hx-get="/php/recharge-price-sec.php" hx-target="closest .user__recharge-price" hx-swap="outerHTML")
                    <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15.397 5.90625H15.4308C15.6546 5.90625 15.8692 5.99514 16.0274 6.15338C16.1856 6.31161 16.2745 6.52622 16.2745 6.75C16.2745 6.97378 16.1856 7.18839 16.0274 7.34662C15.8692 7.50486 15.6546 7.59375 15.4308 7.59375C13.9773 7.59375 12.8714 7.59375 11.9905 7.66463C11.1074 7.7355 10.5472 7.8705 10.15 8.082C9.32748 8.52781 8.66708 9.22247 8.26341 10.0665C8.04966 10.5097 7.92141 11.0565 7.85503 11.9093C7.78753 12.7688 7.78753 13.8645 7.78753 15.39V15.5138L9.04753 14.2537C9.20748 14.1047 9.41903 14.0236 9.63762 14.0274C9.85621 14.0313 10.0648 14.1198 10.2194 14.2744C10.3739 14.429 10.4625 14.6376 10.4664 14.8562C10.4702 15.0748 10.3891 15.2863 10.24 15.4462L7.54003 18.1462C7.45919 18.227 7.36278 18.2906 7.25666 18.333C7.15053 18.3754 7.03689 18.3958 6.92265 18.3929C6.8084 18.3901 6.69592 18.364 6.59203 18.3164C6.48814 18.2688 6.39501 18.2006 6.31828 18.1159L3.87591 15.4159C3.73239 15.249 3.65976 15.0326 3.67353 14.813C3.68729 14.5933 3.78635 14.3877 3.94957 14.24C4.1128 14.0924 4.32726 14.0143 4.54721 14.0226C4.76716 14.0308 4.97519 14.1247 5.12691 14.2841L6.10003 15.3596V15.354C6.10003 13.8724 6.10003 12.7102 6.17316 11.7776C6.24741 10.8281 6.40041 10.0429 6.74578 9.32963C7.30507 8.16557 8.21826 7.20828 9.35466 6.59475C10.0578 6.21787 10.8959 6.05925 11.8567 5.98275C12.8129 5.90625 13.984 5.90625 15.397 5.90625Z" fill="#F56E0F" />
                      <path opacity="0.5" d="M20.0776 8.60667C20.192 8.60949 20.3047 8.63559 20.4088 8.68336C20.5128 8.73113 20.6061 8.79958 20.6828 8.88454L23.1252 11.5845C23.2687 11.7514 23.3413 11.9678 23.3276 12.1875C23.3138 12.4071 23.2147 12.6127 23.0515 12.7604C22.8883 12.9081 22.6738 12.9861 22.4539 12.9779C22.2339 12.9696 22.0259 12.8758 21.8742 12.7163L20.8999 11.6408V11.6464C20.8999 13.128 20.8999 14.2902 20.8279 15.2228C20.7537 16.1723 20.6007 16.9575 20.2553 17.6708C19.696 18.8348 18.7828 19.7921 17.6464 20.4057C16.9433 20.7825 16.1052 20.9412 15.1444 21.0177C14.1882 21.0942 13.0171 21.0942 11.6041 21.0942H11.5703C11.3465 21.0942 11.1319 21.0053 10.9737 20.847C10.8155 20.6888 10.7266 20.4742 10.7266 20.2504C10.7266 20.0266 10.8155 19.812 10.9737 19.6538C11.1319 19.4956 11.3465 19.4067 11.5703 19.4067C13.0238 19.4067 14.1297 19.4067 15.0106 19.3358C15.8926 19.2649 16.4539 19.1299 16.8511 18.9173C17.6734 18.4718 18.3338 17.7775 18.7377 16.9339C18.9514 16.4907 19.0797 15.9439 19.1461 15.0923C19.2124 14.2317 19.2136 13.1348 19.2136 11.6104V11.4867L17.9536 12.7467C17.7936 12.8957 17.5821 12.9768 17.3635 12.973C17.1449 12.9691 16.9363 12.8806 16.7817 12.726C16.6271 12.5714 16.5386 12.3628 16.5347 12.1443C16.5309 11.9257 16.612 11.7141 16.7611 11.5542L19.4611 8.85417C19.5417 8.77334 19.638 8.70973 19.7439 8.66719C19.8499 8.62465 19.9634 8.60406 20.0776 8.60667Z" fill="#F56E0F" />
                    </svg>
                  .user__recharge-price-text 1 YasTuning credit (YT) = 1 €
          .user__payment#user__payment
// Контейнер для модального окна заказа
#order-modal-container
