include ../../mixins/home/car
.h-car.section(id="choose-your-car").p-animate
  .container
    #car-section
      .h-car__title.section__title.section__title_center choose your car
      .h-car__items.active
        +hCarItem('/images/home/car/alfa.webp', 'Alfa Romeo', 'active')(
          data-car-brand-id="1"
          data-car-brand-name="Alfa Romeo"
        )
        +hCarItem('/images/home/car/alpina.webp', 'Alpina', 'active')(
          data-car-brand-id="2"
          data-car-brand-name="Alpina"
        )
        +hCarItem('/images/home/car/alpine.webp', 'Alpine', 'active')(
          data-car-brand-id="3"
          data-car-brand-name="Alpine"
        )
        +hCarItem('/images/home/car/ariel.webp', 'Ariel Motors', 'active')(
          data-car-brand-id="4"
          data-car-brand-name="Ariel Motors"
        )
        +hCarItem('/images/home/car/aston.webp', 'Aston Martin', 'active')(
          data-car-brand-id="5"
          data-car-brand-name="Aston Martin"
        )
        +hCarItem('/images/home/car/audi.webp', 'Audi', 'active')(
          data-car-brand-id="6"
          data-car-brand-name="Audi"
        )
        +hCarItem('/images/home/car/bentley.webp', 'Bentley', 'active')(
          data-car-brand-id="7"
          data-car-brand-name="Bentley"
        )
        +hCarItem('/images/home/car/bmw.webp', 'BMW', 'active')(
          data-car-brand-id="8"
          data-car-brand-name="BMW"
        )
        +hCarItem('/images/home/car/borgward.webp', 'Borgward', 'active')(
          data-car-brand-id="9"
          data-car-brand-name="Borgward"
        )
        +hCarItem('/images/home/car/bugatti.webp', 'Bugatti', 'active')(
          data-car-brand-id="10"
          data-car-brand-name="Bugatti"
        )
        +hCarItem('/images/home/car/buick.webp', 'Buick', 'active')(
          data-car-brand-id="11"
          data-car-brand-name="Buick"
        )
        +hCarItem('/images/home/car/cadillac.webp', 'Cadillac', 'active')(
          data-car-brand-id="12"
          data-car-brand-name="Cadillac"
        )
        +hCarItem('/images/home/car/chevrolet.webp', 'Chevrolet', 'active')(
          data-car-brand-id="13"
          data-car-brand-name="Chevrolet"
        )
        +hCarItem('/images/home/car/chrysler.webp', 'Chrysler', 'active')(
          data-car-brand-id="14"
          data-car-brand-name="Chrysler"
        )
        +hCarItem('/images/home/car/citroen.webp', 'Citroën', 'active')(
          data-car-brand-id="15"
          data-car-brand-name="Citroën"
        )
        +hCarItem('/images/home/car/cupra.webp', 'Cupra', 'active')(
          data-car-brand-id="16"
          data-car-brand-name="Cupra"
        )
        +hCarItem('/images/home/car/dacia.webp', 'Dacia', 'active')(
          data-car-brand-id="17"
          data-car-brand-name="Dacia"
        )
        +hCarItem('/images/home/car/daewoo.webp', 'Daewoo', 'active')(
          data-car-brand-id="18"
          data-car-brand-name="Daewoo"
        )
        +hCarItem('/images/home/car/dodge.webp', 'Dodge', 'active')(
          data-car-brand-id="19"
          data-car-brand-name="Dodge"
        )
        +hCarItem('/images/home/car/ds.webp', 'DS', 'active')(
          data-car-brand-id="20"
          data-car-brand-name="DS"
        )
        +hCarItem('/images/home/car/ferrari.webp', 'Ferrari', 'active')(
          data-car-brand-id="21"
          data-car-brand-name="Ferrari"
        )
        +hCarItem('/images/home/car/fiat.webp', 'Fiat', 'active')(
          data-car-brand-id="22"
          data-car-brand-name="Fiat"
        )
        +hCarItem('/images/home/car/ford.webp', 'Ford', 'active')(
          data-car-brand-id="23"
          data-car-brand-name="Ford"
        )
        +hCarItem('/images/home/car/gwm.webp', 'GWM', 'active')(
          data-car-brand-id="24"
          data-car-brand-name="GWM"
        )
        +hCarItem('/images/home/car/holden.webp', 'Holden', 'active')(
          data-car-brand-id="25"
          data-car-brand-name="Holden"
        )
        +hCarItem('/images/home/car/honda.webp', 'Honda', 'active')(
          data-car-brand-id="26"
          data-car-brand-name="Honda"
        )
        +hCarItem('/images/home/car/hyundai.webp', 'Hyundai', 'active')(
          data-car-brand-id="27"
          data-car-brand-name="Hyundai"
        )
        +hCarItem('/images/home/car/infiniti.webp', 'Infiniti', 'active')(
          data-car-brand-id="28"
          data-car-brand-name="Infiniti"
        )
        +hCarItem('/images/home/car/isuzu.webp', 'Isuzu', 'active')(
          data-car-brand-id="29"
          data-car-brand-name="Isuzu"
        )
        +hCarItem('/images/home/car/iveco.webp', 'Iveco', 'active')(
          data-car-brand-id="30"
          data-car-brand-name="Iveco"
        )
        +hCarItem('/images/home/car/jaguar.webp', 'Jaguar', 'active')(
          data-car-brand-id="31"
          data-car-brand-name="Jaguar"
        )
        +hCarItem('/images/home/car/jeep.webp', 'Jeep', 'active')(
          data-car-brand-id="32"
          data-car-brand-name="Jeep"
        )
        +hCarItem('/images/home/car/kia.webp', 'Kia', 'active')(
          data-car-brand-id="33"
          data-car-brand-name="Kia"
        )
        +hCarItem('/images/home/car/ktm.webp', 'KTM', 'active')(
          data-car-brand-id="34"
          data-car-brand-name="KTM"
        )
        +hCarItem('/images/home/car/lamborghini.webp', 'Lamborghini', 'active')(
          data-car-brand-id="35"
          data-car-brand-name="Lamborghini"
        )
        +hCarItem('/images/home/car/lancia.webp', 'Lancia', 'active')(
          data-car-brand-id="36"
          data-car-brand-name="Lancia"
        )
      a(href="#choose-your-car").h-car__btn.p-btn.p-btn_orange.p-btn_center.active(
        hx-post="/php/car-handler.php"
        hx-target="#car-section"
        hx-vals='{"action":"show_more_brands"}'
      ) Show more
    #loading.loading-indicator
      .loading-spinner
